/****************************** Tag Selector ******************************/

body {
    margin: 0;
}
p {
   font-size: 16px; 
}
header {
    background-color: #EAF6F6;
    color: #66BFBF;
    position: relative;
    text-align: center;
}
header h1 {
    display: inline-block;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0;
    margin-top: 160px;
}
h2 {
    color: #66BFBF;
    text-align: center;
}
h3 {
    color: #11999E;
}

img.icon {
    width: 20%;
}

footer {
    background-color: #66BFBF;
    text-align: center;
    height: 100px ;
}
footer p {
    color: #EAF6F6;
}
footer a {
    color: #11999E;
}
footer a{
    display: inline-block;
    
    margin: 20px;
    text-decoration: none;
}
hr {
    /* background-color: #EAF6F6; */
    border: 0;
    width: 5%;
    border-top: 10px dotted #EAF6F6;
}

section {
    max-width: 700px;
    margin: 100px auto;
    line-height: 2;

}
span {
    text-decoration: underline;
}


/****************************** Class Selector ******************************/
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #5abdfa;
  background-image: -webkit-linear-gradient(top, #5abdfa, #55a5db);
  background-image: -moz-linear-gradient(top, #5abdfa, #55a5db);
  background-image: -ms-linear-gradient(top, #5abdfa, #55a5db);
  background-image: -o-linear-gradient(top, #5abdfa, #55a5db);
  background-image: linear-gradient(to bottom, #5abdfa, #55a5db);
  text-decoration: none;
}
.clear {
    clear: both;
}
.get-in-touch {
    max-width: 500px;
    text-align: center;
}

.float-left {
    float: left;
    margin-right: 20px;
    max-width: 200px;
}
.float-right {
    float: right;
    margin-left: 20px;
    max-width: 200px;
}

.knowme {
    text-align: center;
    max-width: 500px;
}
.left-cloud {
    position: absolute;
    left: 300px;
    /* top  : 100px; */
}
.right-cloud {
    position: absolute;
    right: 300px;
    top: 100px;
}




/******************************* ID Selector ********************************/

#lets_chat {
    background-color: #66BFBF;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    margin: 50px auto 0 auto;
    padding: 10px 20px;
    text-decoration: none;
}
